body {
    padding: 0;
    margin: 0;
    background: green;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, white 0%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, white 0%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(0deg, white 0%, green 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://i.imgur.com/a3gZ3Jm.png);
    height: 300px;
    background-position: top center;
  }
  
  .intro {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: white;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .intro p {
    color: black;
    text-align: center;
    line-height: 24px;
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .job {
    font: inherit;
    padding: 0 20px;
    color: black;
    overflow: auto;
    background: linear-gradient(0deg, green 0%, #2a67bd 40%);
  }
  
  .job p {
    text-align: left;
  }

  .education {
    padding: 0 20px;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  /* Typography */
  h1 {
    color: #1b8c00;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    line-height: 357px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
  }
  
  h2 {
    color: black;
    font-family: 'Slabo 27px', serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Slabo 27px', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  /* Page elements */
  p {
    line-height: 32px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
.footer p{
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    text-align: center;
}
  
