body {
    padding: 0;
    margin: 0;
    background: green;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, white 0%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, white 0%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(0deg, white 0%, green 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/2AhnUP3g_USdtzouk6lpeL_S14xUP4MC70ggycCRTzrl3pfJcoV_nENTFg0X8qk6dgMVU7VxmD6fPXrH1fcSCT2xz_Tvkvyc1MGTAPcR5Da4CmjPGwhyfQk0NKA5pUzA821NL4kNM5lI0WigLeAl7sUbJykH5wB7IrjPjXjcwjAft6RXg2qUKrvwD-NF5FyXqP0g268bpaQFffPDln5IWMOaLdxtMaa2KKfH-ViHj3Ot23q-iMNWRJ3oATTmC_-wiICvqNhTlDUGP1dPCI7BRs2rA-1jFDd9GHs3oju1R86tSXd4VAbd3FqKVLdEJJp8G2HbAJa9hBDXGAhrn0rlfITy7Bf4xSc9nh6gUGAfLV8sUeNohqrGaCEYggsK_10sv02JL0LLn9znHnxTBL2GxXJdJTQxe8qcNx0auiQzwalNZpd3Qy9MIRM1mUcc6yn6znR3lp26uNRrdg8X7lEmP-yTE3l9XZa4L6cHpGJ_51WuCUY1eqB2H0Tr952wSP7kvoBxh8GiI5MinEplY5IgfSkc-UsSW8F8c6yxQqLTk8qLG-Dnv27flp1NLUXLjoz1vG5Ds_nmfK5jXosXLYbEgSbkKnrtLKQf24VsyXS8Bg=w883-h662-no);
    height: 300px;
    background-position: top center;
  }
  
  .intro {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: white;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .intro p {
    color: black;
    text-align: center;
    line-height: 24px;
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .job {
    font: inherit;
    padding: 0 20px;
    color: black;
    overflow: auto;
    background: linear-gradient(0deg, green 0%, #2a67bd 40%);
  }
  
  .job p {
    text-align: left;
  }

  .education {
    padding: 0 20px;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  /* Typography */
  h1 {
    color: #1b8c00;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    line-height: 357px;
    margin: 0;
    position: relative;
    text-align: left;
    top: 20%;
  }
  
  h2 {
    color: black;
    font-family: 'Slabo 27px', serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Slabo 27px', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  /* Page elements */
  p {
    line-height: 32px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
.footer p{
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    text-align: center;
}
  
